/*
 * detail.jsp 이미지 업로드 css
 */

/* 사용자가 이미지를 드롭할 수 있는 영역에 대한 스타일 */
.image-drop {
  width: 100px;
  height: 100px;
  border: 2px dashed grey; /* 점선 테두리 */
  margin-bottom: 20px; /* 하단 여백 */
  text-align: center; /* 텍스트 가운데 정렬 */
  line-height: 200px; /* 높이와 동일한 라인 높이 */
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  font-size: 16px; /* 폰트 크기 */
  color: grey; /* 텍스트 색상 */
}

/* 업로드된 이미지를 출력하는 영역에 대한 스타일 */
.image-list {
  margin-top: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 20px;
  height: 120px;
  width: 120px; /* 명시적인 너비 설정 */
  display: flex;
  align-items: center;
  justify-content: center; /* 가운데 정렬 */  /* 변경: 가운데 정렬 */
}

/* 업로드된 이미지에 대한 스타일 */
.image_item {
  width: 100px; /* 이미지 아이템 가로 크기 지정 */
  height: 100px; /* 이미지 아이템 세로 크기 지정 */
  margin-left: 0; /* 왼쪽 여백 제거 */
  position: relative;
  display: inline-block;
  margin: 4px;
}

/* image_item 내의 img 태그 스타일 */
.image_item img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* contain으로 변경 */
  vertical-align: top;
}

/* 업로드된 이미지와 연결된 삭제 버튼에 대한 스타일 */
.image_delete {
  position: absolute;
  right: 5px;
}