.btn_update,
.btn_delete,
.btn_reply {
    background-color: #ff9900;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 3px;
    cursor: pointer;
    color: white;
}

.btn_update:hover,
.btn_delete:hover,
.btn_reply:hover {
    background-color: #e68900;
    color: white;
}

/* 페이지네이션 스타일 (필요한 경우) */
#pagination {
    text-align: center;
    margin-top: 10px; /* 윗부분에 10px 공간 추가 */
}

#pagination a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-decoration: none;
    color: #333;
}

#pagination a:hover {
    background-color: #eee;
}

.reply_buttons {
  float: right;
}