<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>
    <resultMap id="MemberMap" type="com.dishcovery.project.domain.Member">

    </resultMap>

    <insert id="insert">
        INSERT INTO MEMBER (EMAIL, PASSWORD, NAME, PHONE_NUMBER)
        VALUES (#{email}, #{password}, #{name}, #{phone})
    </insert>

    <select id="selectDupCheckId" parameterType="string" resultType="_int">
        SELECT COUNT(EMAIL)
        FROM MEMBER
        WHERE EMAIL = #{email}
    </select>


    <select id="selectByMemberId" resultMap="MemberMap">

    </select>

    <select id="selectIdList" resultType="Integer">

    </select>

    <update id="update">

    </update>

    <delete id="delete">

    </delete>
</mapper>